*{
    margin: 0;
}
.menu {
    background-color: blue;
    height: 100px;
    width: 100%;
}
.esq {
    background-color: yellow;
    height: 480px;
    width: 30%;
    float: left;
    margin: 20px;
}
.meio {
    background-color: green;
    height: 480px;
    width: 30%;
    float: left;
    margin: 20px;
}
.dir {
    background-color: blueviolet;
    height: 480px;
    width: 30%;
    float: left;
    margin: 20px;
}
.roda {
    background-color: red;
    height: 80px;
    width: 100%;
}
.clear {
    clear: both;
}